<div class="login-container p-d-flex p-jc-center p-ai-center">
	<div class="login-panel p-card p-shadow-5">
		<div class="p-card-header">
			<h2>Login</h2>
		</div>
		<div class="p-card-body">
			<form
				(ngSubmit)="onSubmit()"
				#loginForm="ngForm">
				<div class="p-fluid">
					<div class="p-field p-mb-3">
						<label for="email">Email</label>
						<input
							id="email"
							type="email"
							pInputText
							[(ngModel)]="credentials.email"
							name="email"
							required
							email
							#email="ngModel" />
						<small
							*ngIf="email.invalid && (email.dirty || email.touched)"
							class="p-error">
							Email inválido.
						</small>
					</div>
					<div class="p-field p-mb-4">
						<label for="password">Senha</label>
						<input
							id="password"
							type="password"
							pInputText
							[(ngModel)]="credentials.password"
							name="password"
							required
							#password="ngModel" />
						<small
							*ngIf="password.invalid && (password.dirty || password.touched)"
							class="p-error">
							Senha é obrigatória.
						</small>
					</div>
				</div>
				<div class="p-d-flex p-jc-end">
					<button
						pButton
						type="submit"
						label="Entrar"
						[disabled]="loginForm.form.invalid"></button>
				</div>
			</form>
		</div>
		<div
			class="p-card-footer"
			*ngIf="errorMessage">
			<p-message
				severity="error"
				[text]="errorMessage"></p-message>
		</div>
	</div>
</div>
