/* Styles for ClientDashboardComponent */
.client-dashboard {
	padding: 20px;
}

.saldo {
	font-size: 2em;
	font-weight: bold;
	color: var(--primary-color);
	margin-bottom: 20px;
}

/* Adicionar mais estilos conforme necessário */
